@import "~bootstrap-icons/font/bootstrap-icons.css";

.bi-person {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.5);
}

#navbar {
  background: rgba(255, 148, 0, 0.7);
  min-height: 50px;
}

#navbar a {
  color: black;
  font-size: 18px;
}

#navbar a:hover {
  color: #0a84ff;
}

#navbar ul {
  padding: 0 20% 0 20%;
}

#footer {
  background: rgba(196, 196, 196, 0.3);
}

#footer a {
  text-decoration: none;
}

#footer li {
  list-style-type: none;
}

.footer-name-category {
  font-size: 16px;
  color: #000000;
  text-decoration: underline;
}

.footer-category {
  color: #FF9400;
  font-size: 14px;
}

#footer a:hover {
  color: #FF9400;
  text-decoration: underline;
}

.footer-legal {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}
