@import "~bootstrap-icons/font/bootstrap-icons.css";

.container {
  width: 1060px;
}

.body {
  height: 53vh;
}

#navbar {
  background: rgba(255, 148, 0, 0.7);
  min-height: 50px;
}

#navbar a {
  color: black;
  font-size: 18px;
}

#navbar a:hover {
  color: #0a84ff;
}

.form-authentication {
  background: rgba(255, 148, 0, 0.4);
  border-radius: 5px;
}

.register{
  background: #0a84ff;
  color: #ffffff;
}
.register:hover {
  border-color: #49a4fa;
  background-color: #49a4fa;
}

.title-category {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  margin-bottom: 10px;
}

.title-category-centre {
  color: #FF9400;
}

.title-category-centre h2 {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding-bottom: 10px;
  font-size: 2.4rem;
}

#footer {
  background: rgba(196, 196, 196, 0.3);
}

#footer a {
  text-decoration: none;
}

#footer li {
  list-style-type: none;
}

.footer-name-category {
  font-size: 16px;
  color: #000000;
  text-decoration: underline;
}

.footer-category {
  color: #FF9400;
  font-size: 14px;
}

#footer a:hover {
  color: #FF9400;
  text-decoration: underline;
}

.footer-legal {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

