<div class="container">
  <div id="header" class="row">
    <div class="col-lg-3 my-3">
      <a href="index.html">
        <img src="./assets/img/logo.png" alt="">
      </a>
    </div>

    <div class="col-lg-9 d-flex flex-column justify-content-center align-items-end my-3">
      <div class="row my-2">
        <div class="col px-0">
          <div class="btn py-0">
            <img src="./assets/img/icons/userAcc.png" alt="">
            <!--<i class="bi bi-person"></i>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="navbar" class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col px-0">
        <ul class="nav my-2 d-flex justify-content-center">
          <li class="nav-item">
            <a class="nav-link px-0" href="#">Dashboards</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container my-2 body d-flex align-items-center justify-content-center">
  <div class="row">
    <div class="col d-flex justify-content-center align-items-center py-3 form-authentication">
      <form >
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-warning mx-2 login">Se connecter</button>
        <button type="submit" class="btn btn-info mx-2 register" >Créer un compte</button>
      </form>
    </div>
  </div>
</div>

<div id="footer" class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col d-flex justify-content-center">
        <ul class="px-0">
          <li class="footer-name-category my-1">Info</li>
          <li><a class="footer-category" href="#">Livraison</a></li>
          <li><a class="footer-category" href="#">Payement</a></li>
        </ul>
      </div>
      <div class="col d-flex justify-content-center">
        <ul class="px-0">
          <li class="footer-name-category my-1">Contact</li>
          <li><a class="footer-category" href="tel:0102030405">01 02 03 04 05</a></li>
          <li><address class="footer-category">1 rue Garibaldi, Nîmes</address></li>
        </ul>
      </div>
      <div class="col d-flex align-items-center justify-content-end">
        <a href="index.html">
          <img src="./assets/img/logo.png" alt="">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="footer-legal col d-flex justify-content-center">
        <span class="mx-4">© SpicyDog 2021</span>
        <span class="mx-4">Conditions Générales de Vente</span>
        <span class="mx-4">Mentions légales</span>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
